 * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: #f4f6f8;
      background-image: url('image.jpg') ;
      color: #333;
      padding: 20px;
    }

    header {
      text-align: center;
      margin-bottom: 30px;
    }

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: #010c17;
    }

    p {
      color: white;
      position: absolute;
      white-space: nowrap;
      animation: slide 13s linear infinite;
      font-size: 20px;
    }
    @keyframes slide {
        0% {right: -100%;}
        100%{right: 100%;}
    }

    main {
      max-width: 700px;
      margin: 0 auto;
      background-color: #ffffff;
      padding: 30px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
      background-color: rgba(0, 0, 0, 0.6);
      color: #ffffff;
    }

    fieldset {
      border: none;
      margin-bottom: 25px;
    }

    legend {
      font-weight: bold;
      margin-bottom: 10px;
      color: white;
    }

    label {
      display: block;
      margin: 10px 0 5px;
      font-size: 0.95rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="number"],
    select,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 0.95rem;
    }

    input[type="radio"],
    input[type="checkbox"] {
      margin-right: 8px;
    }

    textarea {
      resize: vertical;
    }

    button {
      display: block;
      width: 100%;
      background-color: #2980b9;
      color: white;
      border: none;
      padding: 12px;
      font-size: 1rem;
      border-radius: 8px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #1f6391;
    }

    @media (max-width: 600px) {
      main {
        padding: 20px;
      }

      h1 {
        font-size: 1.5rem;
      }
    }

